<PaperCard class="room flex {{if this.isOn 'is-on' 'is-off'}}" as |Card|>
  <Card.title as |Title|>
    <Title.text as |Text|>
      <Text.headline class="layout-row"><span class="flex"> <i class="fas fa-snowflake"></i><i class="fas fa-thermometer-half"></i> {{@title}}</span></Text.headline> 
    </Title.text>
  </Card.title>
  <Card.content>

    <h1 class="layout-row layout-align-start-center">
      <span class="flex">
        <i class="fas fa-thermometer-half"></i> {{this.sensorInfo.htemp}}°C
      </span>
      <span class="picture"><img src="./{{@pictureName}}.png" ></span>
    </h1>
    <div class="layout-row">

      <div class="flex" style="white-space: nowrap;">
        <PaperSwitch @value={{this.isOn}}
                    @onChange={{action this.toggleOnOff}}>
          {{#if this.isOn}}
            <span class="switch-caption">ON</span>
          {{else}}
            <span class="switch-caption">OFF</span>
          {{/if}}           
        </PaperSwitch>
      </div>

      <PaperButton @class="flex" @onClick={{action this.showDialog "temp"}}>
        <span class="button-content"><i class="fas fa-hand-point-right"></i> {{this.controlInfo.stemp}}°C</span>
      </PaperButton>

      <PaperButton @class="flex" @onClick={{action this.showDialog "air"}}>
        <span class="button-content">
          <i class="fas fa-wind" ></i>
          <Air @f_rate={{this.controlInfo.f_rate}} @color="#444" />
        </span>
      </PaperButton>

      <PaperButton @class="flex" @onClick={{action this.showDialog "dir"}}>
        <span class="button-content">
          <i class="fas fa-arrows-alt"></i>
          <Dir @f_dir={{this.controlInfo.f_dir}} @color="#444" />
        </span>
      </PaperButton>

    </div>
    {{!-- 
    {{#each-in this.sensorInfo as |key value|}}
      <div>{{key}} : {{value}}</div>
    {{/each-in}}
    {{#each-in this.controlInfo as |key value|}}
      <div>{{key}} : {{value}}</div>
    {{/each-in}}  
    --}}
    
  </Card.content>
</PaperCard>
{{#if this.isDialogShown}}

  <PaperDialog @fullscreen={{false}}>
    <PaperToolbar @accent={{true}}>
      <PaperToolbarTools>
        {{@title}}
        <span style="padding-left: 2vmin; display: inline-block; width: 7em;">
          {{#if this.isTempDialogShown}}
            <i class="fas fa-hand-point-right"></i> {{this.tempConsign}}°C
          {{/if}}
          {{#if this.isAirDialogShown}}
            <i class="fas fa-wind"></i>
          {{/if}}
          {{#if this.isDirDialogShown}}
            <i class="fas fa-arrows-alt"></i>
          {{/if}}
        </span>
        <span class="flex"></span>
        <PaperButton @iconButton={{true}} @onClick={{action this.hideDialog}}>
          <PaperIcon @icon="close" />
        </PaperButton> 
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperDialogContent>
      {{#if this.isTempDialogShown}}
        <PaperSlider @class="flex" 
                     @discrete={{true}}
                     @step="0.5"
                     @value={{this.tempConsign}} 
                     @min="18"
                     @max="32"
                     @onChange={{action (mut this.tempConsign)}} />
      {{/if}}

      {{#if this.isAirDialogShown}}
        <PaperRadioGroup @groupValue={{this.airConsign}}
                         @onChange={{action (mut this.airConsign)}} as |Group|>
          <Group.radio @value="A">
            <Air @f_rate="A" />
          </Group.radio>
          <Group.radio @value="B">
            <Air @f_rate="B" />
          </Group.radio>
          <Group.radio @value="3">
            <Air @f_rate="3" />
          </Group.radio>
          <Group.radio @value="4">
            <Air @f_rate="4" />
          </Group.radio>
          <Group.radio @value="5">
            <Air @f_rate="5" />
          </Group.radio>
          <Group.radio @value="6">
            <Air @f_rate="6" />
          </Group.radio>
          <Group.radio @value="7">
            <Air @f_rate="7" />
          </Group.radio>
        </PaperRadioGroup>
      {{/if}}

      {{#if this.isDirDialogShown}}
        <PaperRadioGroup @groupValue={{this.dirConsign}}
                         @onChange={{action (mut this.dirConsign)}} as |Group|>
          <Group.radio @value="0">
            <Dir @f_dir="0" />
          </Group.radio>
          <Group.radio @value="1">
            <Dir @f_dir="1" />
          </Group.radio>
          <Group.radio @value="2">
            <Dir @f_dir="2" />
          </Group.radio>
          <Group.radio @value="3">
            <Dir @f_dir="3" />
          </Group.radio>
        </PaperRadioGroup>
      {{/if}}
    </PaperDialogContent>
    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton  @onClick={{action this.hideDialog}}>
        Annuler
      </PaperButton> 
      <PaperButton  @onClick={{action this.hideDialog "ok"}}>
        OK
      </PaperButton> 

    </PaperDialogActions>
  </PaperDialog>

{{/if}}