<div class="application layout-fill">
  <PaperToolbar @accent={{true}}>
    <PaperToolbarTools>
      <h1>
        <i class="fas fa-snowflake"></i><i class="fas fa-thermometer-half"></i> Climatisation BibouHome
      </h1>

      <span class="flex"></span>
      <div>
        <Loadable /> Exterieur <i class="fas fa-thermometer-half"></i> {{this.model.sensorInfos.parents.otemp}}°C
        
      </div>
      {{!-- <PaperMenu as |Menu|>
        <Menu.trigger>
          <PaperButton @iconButton={{true}}>
            <PaperIcon @icon="more_vert" />
          </PaperButton>
        </Menu.trigger>
        <Menu.content as |Content|>
          <Content.menu-item>
            <PaperIcon @icon="local_phone" /><span>Phone</span>
          </Content.menu-item>
        </Menu.content>
      </PaperMenu> --}}
    
    </PaperToolbarTools>
  </PaperToolbar>

  <div class="layout-fill main">
    <div class="layout-row layout-xs-column">
      <Room @roomName="salon" @title="Salon" @pictureName="salon" @data={{this.model}} />
      <Room @roomName="parents" @title="Chambre Parents" @pictureName="parents" @data={{this.model}} />
    </div>
    <div class="layout-row layout-xs-column">
      <Room @roomName="jeanne" @title="Chambre Jeanne" @pictureName="jeanne" @data={{this.model}} />
      <Room @roomName="elina"@title="Chambre Elina" @pictureName="elina" @data={{this.model}} />
    </div>


    {{outlet}}
  </div>
</div>